.head {
    padding: 30px;
    text-align: center;
    background: #218ad5;
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.m1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-top: 115px;
}

.p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #218ad5;
    padding-top: 90px;
    float: left;

}

.p2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #218ad5;
    float: left;

}

.sepertiga {
    flex: 0 0 auto;
    width: 33%;
}

.seperempat {
    flex: 0 0 auto;
    width: 25%;
}

.kurung {
    margin-left: 10%;
    margin-right: 10%;
}

.kurung2 {
    margin-right: 10%;
}

.des {
    font-size: 15px;
    color: #2f2f2f;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

img {
    width: 175px;
    height: 175px;
    margin-bottom: 25px;
}

.stj {
    text-align: center;
    font-size: 13px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 40px;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
}

.btn {
    border-radius: 9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 21px;
    border: solid #218ad5 2px;
    background: #218ad5;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.whitebtn {
    background: white !important;
    color: #218ad5 !important;
}

.acpp {
    margin-top: 55px;
    text-align: center;
    margin-bottom: 125px;
}

a {
    text-decoration: none;
    color: #218ad5;
}